<div class="container mt-5">
  <div class="row py-4 border-bottom d-flex justify-content-between">
    <div class="col-12 col-md-4">
      <h2>Keep up with us</h2>
      <!-- Begin Mailchimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css" />
      <style type="text/css">
        #mc_embed_signup form {
          padding: 0px;
        }

        #mc_embed_signup input.email {
          width: 85%;
          height: 2.5rem;
        }

        #mc_embed_signup label {
          color: white;
          font: bold 1.25rem "Proxima Nova";
        }

        #mc_embed_signup input.button {
          color: #2b5a6d;
          background-color: #ffeae1;
          margin-top: 20px;
          width: auto !important;
          height: auto !important;
          font-weight: bold;
          border-radius: 3rem;
          padding: 0.25rem 1.5rem;
        }

        #mc_embed_signup input.button:hover {
          background-color: transparent;
          color: white;
          border: 1px solid #ffeae1;
          font-weight: bold;
        }

        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
       We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
        <form
          action="https://pearlhacks.us17.list-manage.com/subscribe/post?u=211594c9660fc6331ed123271&amp;id=2ed1863e5f&amp;f_id=00d945e0f0"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Join our mailing list!</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
              required />
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px" aria-hidden="true">
              <input type="text" name="b_211594c9660fc6331ed123271_30e1fce0d4" tabindex="-1" value="" />
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
            </div>
          </div>
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div>
    <div class="col-12 col-md-4 admin">
      <h2>Administration</h2>
      <p>
        Pearl Hacks abides by the
        <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="blank">MLH Code of Conduct</a>.
      </p>
      <p>
        For questions or feedback, contact us at
        <a href="mailto:questions@pearlhacks.com" target="blank">questions@pearlhacks.com</a>
      </p>

    </div>
    <div class="col-12 col-md-4">
      <h2>
        Inclusivity Statement
      </h2>
      <p>
        Pearl Hacks is an event designed to uplift and center women and gender non-conforming individuals in tech. We
        expect all
        of our mentors, volunteers, participants, directors, sponsors, judges, and visitors to be respectful of our
        participants’ gender identities and expressions.
      </p>
    </div>
  </div>

  <div class="py-4 d-sm-flex justify-content-between">
    <p>
      Made with <i class="far fa-heart"></i> by
      <a href="https://github.com/pearlhacks" target="blank" name="pearl hacks">Pearl Hacks</a>
    </p>
    <ul class="d-flex p-0">
      <li>
        <a href="https://www.instagram.com/pearlhacks/" target="blank" name="instagram">
          <i class="fab fa-instagram"></i></a>
      </li>
      <li>
        <a href="https://www.facebook.com/pearlhackathon/" target="blank" name="facebook">
          <i class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/PearlHacks" target="blank" name="twitter">
          <i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a href="mailto:questions@pearlhacks.com" target="blank" name="email">
          <i class="far fa-envelope"></i></a>
      </li>
      <li>
        <a href="https://github.com/pearlhacks" target="blank" name="github">
          <i class="fab fa-github"></i></a>
      </li>
    </ul>
  </div>
</div>

<!--div class="row py-4 border-bottom d-flex align-content-center"></div-->
<!--div class="col-12 col-md-6">
        <h2>Keep up with us</h2-->
<!-- Begin Mailchimp Signup Form -->
<!--link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup form {padding: 0px;}
        #mc_embed_signup input.email{width: 85%; height: 2.5rem;}
        #mc_embed_signup label{color: white; font: bold 1.25rem "Proxima Nova";}
        #mc_embed_signup input.button{color: #34375a; background-color: #ffdfb2; margin-top: 20px; width: auto !important; height: auto !important; font-weight: bold; border-radius: 3rem; padding: 0.25rem 1.5rem;}
        #mc_embed_signup input.button:hover{  background-color: transparent; color: white; border: 1px solid var(--light); font-weight: bold;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
        <form action="https://pearlhacks.us17.list-manage.com/subscribe/post?u=211594c9660fc6331ed123271&amp;id=30e1fce0d4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Join our mailing list!</label-->
<!--input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required=""-->
<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
<!--div style="position: absolute; left: -5000px" aria-hidden="true">
              <input type="text" name="b_211594c9660fc6331ed123271_30e1fce0d4" tabindex="-1" value="">
            </div>
            <div class="clear">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </div>
        </form>
      </div->
</div>
      <End mc_embed_signup-->

<!--div class="py-5 d-sm-flex flex-column-reverse justify-content-center align-items-center">
    <p><a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="blank">MLH Code of Conduct</a> | 
      Made with <i class="far fa-heart" aria-hidden="true"></i> by
      <a href="https://github.com/pearlhacks" target="blank" name="pearl hacks">Pearl Hacks</a>
    </p>
    <ul class="d-flex p-0 justify-content-space-between">
      <li>
        <a href="https://www.facebook.com/pearlhackathon/" target="blank" name="facebook">
          <i class="fab fa-facebook-f" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/PearlHacks" target="blank" name="twitter">
          <i class="fab fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="mailto:questions@pearlhacks.com" target="blank" name="email">
          <i class="far fa-envelope" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://www.instagram.com/pearlhacks/" target="blank" name="instagram">
          <i class="fab fa-instagram" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="https://github.com/pearlhacks" target="blank" name="github">
          <i class="fab fa-github" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</div-->