.event-container {
    font-family: "Roboto", sans-serif;
    max-width: 50rem;
    margin: 0 auto
}

.event-container h3.year {
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid #b1b1b1
}

.event-container .event {
    box-shadow: 0 .25rem 1rem -.5rem rgba(0, 0, 0, .4);
    display: flex;
    border-radius: 8px;
    margin: 2rem 0;
    background-color: aliceblue
}

.event .event-left {
    width: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 3rem;
    font-weight: 700;
    text-align: center;
    border-radius: .5rem 0 0 .5rem
}

.event .event-left .date {
    font-size: 3.5rem
}

.event .event-left .month {
    font-size: 1rem;
    font-weight: 400
}

.event .event-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem
}

.event .event-right h3.event-title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.5rem 0 .6rem 0;
    color: var(--red);
    text-transform: uppercase
}

.event-description {
    font-size: 1rem
}

.event .event-right .event-timing {
    margin: 1rem 0;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin-right: 1rem
}

.event-timing a {
    color: var(--darkgreen);
    text-decoration: underline
}

@media (max-width:35rem) {
    .event {
        flex-direction: column
    }

    .event .event-left {
        padding: 0 1.5rem;
        width: 100%;
        border-radius: .5rem .5rem 0 0;
        background-color: var(--darkgreen);
        justify-content: flex-start
    }

    .event .event-left .event-date .date,
    .event .event-left .event-date .month {
        display: inline-block;
        font-size: 1.5rem;
        color: #fff
    }

    .event .event-left .event-date {
        padding: .6rem 0
    }

    .event-date {
        display: flex;
        flex-direction: row-reverse;
        gap: .5rem
    }

    h2.year {
        text-align: center;
        font-size: 2rem
    }
}

.checkin {
    background: var(--turquoise);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    padding: .5rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    color: var(--darkgreen);
    font-family: "Caviar Dreams";
    font-weight: 700
}

.checkin:hover {
    color: var(--darkgreen);
    background-color: var(--orange)
}

@media(max-width:767px) {
    .event-timing {
        flex-direction: column;
        align-items: flex-start !important
    }
}