@-webkit-keyframes bobble {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}

@keyframes bobble {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1rem);
  }
}
@-webkit-keyframes launch {
  0% {
    transform: translateX(6rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes launch {
  0% {
    transform: translateX(6rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* FONT FACE */
@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/ProximaNova-Regular.otf");
}

@font-face {
  font-family: "Proxima Nova";
  src: url("fonts/Proxima Nova Thin.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("fonts/CaviarDreams.ttf");
}
@font-face {
  font-family: "Caviar Dreams";
  src: url("fonts/CaviarDreams_Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("fonts/CaviarDreams_Bold.ttf");
  font-weight: bold;
}

/* VARIABLES & ROOT LEVEL SETTINGS*/
:root {
  --lightblue: #afe6ff;
  --midblue: #4f7dde;
  --darkblue: #34375a;
  --light: #ffdfb2;
  --orange: #f6a079;
  --primary-font: "Proxima Nova";
  --secondary-font: "Caviar Dreams";
}

/* MLH BADGE */
#mlh-badge {
  position: fixed;
  top: 0;
  width: 90px !important;
  right: 10px;
  z-index: 1031;
}

/* TOP-LEVEL STYLES */
* {
  font-family: "Proxima Nova";
  font-weight: normal;
  color: var(--darkblue);
}

.container {
  max-width: 1000px;
}

/* STYLESHEET */
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

/* LINKS */
main a {
}

main a:hover {
  text-decoration: none;
}
.jumbotron {
  height: 100%;
}
.jumbotron .row {
  min-height: 100vh;
  width: auto;
  background-color: black;
  background: url("./images/background.svg");
  background-size: cover;
}
.jumbotron p {
  color: white;
}
#down-indicator {
  color: var(--light);
  position: absolute;
  bottom: 2rem;
  animation: bobble 1s infinite alternate;
  cursor: pointer;
  font-size: 24px;
}
/* BUTTONS */
.btn,
.btn-secondary {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
}

.btn:hover {
}

.btn-outline {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
}

.btn-outline:hover {
  border-radius: 3rem;
  padding: 0.5rem 1.5rem;
}

.btn {
  background-color: var(--light);
  color: var(--darkblue);
}
.btn-secondary {
  background-color: var(--midblue);
  color: var(--light);
}
/* BACKGROUND DECORATION */
#header-top {
  background-image: url("images/header-top.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 35px;
  background-color: white !important;
}

#header-bottom {
  background-image: url("images/header-bottom.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 35px;
  background-color: white !important;
}

#wave-bottom {
  background-image: url("images/wave-bottom.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 100px;
  background-color: white !important;
}

#wave-top {
  background-image: url("images/wave-top-light.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 100px;
  background-color: white !important;
}

#wave-bottom {
  background-image: url("images/wave-bottom-light.png");
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 100px;
  background-color: white !important;
}

.circuit {
  background-image: url("images/circuit-board.svg");
  background-repeat: repeat;
  background-size: 75%;
}

/* MAIN */
main {
  min-height: 100vh;
  margin-top: 3.5rem;
}

main > header {
  text-align: center;
  /*background-color: var(--bright_shade1);*/
}

main > header > h1 {
  /*color: var(--light2) !important;*/
}

main h1 {
  font: bold 3rem/3rem "Caviar Dreams";
}

main h2 {
  color: var(--midblue);
  font: 2.5em/2.5rem "Caviar Dreams";
  font-weight: 400;
}

main h3 {
  font-size: 1.75rem;
}
main h4 {
  font-size: 1.25rem;
  font-style: italic;
  color: var(--midblue);
  font-weight: 300;
}

main p {
  font-weight: 300;
  font-size: 1.15rem;
  line-height: 1.725rem;
}

/* SPECIFIC CLASSES */
.raise {
  position: relative;
  z-index: 11;
}

.rounded {
  border-radius: 0.75rem !important;
}

.rounded-top {
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.display-4 {
  font-weight: bold;
  letter-spacing: 0.5rem;
}

h2.lead {
  font-family: "Dancing Script", cursive;
}

.overline {
  font-size: medium;
}

.bg-dark {
  background-color: var(--dark2) !important;
}

.bg-bright {
  background-color: var(--bright) !important;
}

.bg-bright a {
  color: var(--light) !important;
}

.bg-bright p {
  color: white !important;
}

.bg-light {
  background-color: var(--light2_transparent) !important;
}

i.bg-light {
  background-color: var(--light2) !important;
}

.bg-light h2 {
  color: var(--bright) !important;
}

.bg-light2 {
  background-color: var(--light);
}

.bg-blob {
  background-image: url("images/blob.svg");
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}
/*wave
#decoration1 {
    width: 100vw;
    height: 20vw;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#decoration1-desktop {
    width: 100vw;
    height: 15vw;
    max-height: 300px;
    background-image: url('');
    background-repeat: no-repeat;
    background-size: 120% 100%;
    background-position: center;
}
*/
@media (min-width: 992px) {
  #home_main {
    height: 100%;
    background-image: url(assets/images/wave-desktop-03.svg);
    background-repeat: no-repeat;
    background-size: 100% 30%;
    background-position: 10vw 10vw;
  }
}

/* SPONSORS */

#sponsors img:hover {
  opacity: 0.6;
  transition: all 0.3s;
}

#sponsors div {
  display: flex;
  justify-content: center;
  /* align-self: center;*/
  align-content: center;
}

.pearl img {
  max-height: 200px;
}

.gold img {
  max-height: 150px;
  max-width: 300px;
}

.silver img,
.custom img {
  max-height: 100px;
}

/* COLLAPSABLE CONTENT */
.shadow-sm {
  box-shadow: 0px 1px 3px rgb(0, 0, 0, 0.3) !important;
}

.collapse-wrapper {
  border: 1px solid var(--light2);
}

.collapser {
  color: var(--bright) !important;
  font-size: 1.25rem;
  padding: 1rem 0rem;
  padding-left: 1rem;
  font-weight: normal !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  cursor: pointer;
}

.collapser:after {
  content: "\2212";
  font-weight: bold;
}

.collapse-wrapper .collapsed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.collapse-wrapper .collapsed:after {
  content: "\002B" !important;
  font-weight: bold;
}

.collapser + div {
  padding-left: 1rem;
  border-top: 1px solid var(--light2);
}

/* TABLES */
.table {
  max-width: 900px;
  border: 1px solid var(--light2);
}

.table .row {
  border-bottom: 1px solid var(--light2);
}

.table .row:last-of-type {
  border-bottom: none;
}

.table .th {
  background-color: var(--light2_transparent) !important;
  color: var(--bright2);
}

/* HEADSHOT */
.headshot {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-size: cover !important;
  text-align: center;
}

/* NAVBAR */
.navbar {
  background-color: #fff;
}

.navbar-nav a:hover {
  color: var(--midblue) !important;
}

.navbar-brand span,
.navbar-brand b {
  font-family: var(--secondary-font) !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:after {
  content: none !important;
}
.transparent-nav a:hover {
  color: var(--light) !important;
}
.nav-link{
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.5px;
}

/* DROPDOWN MENU */
@media only screen and (min-width: 992px) {
  #navbar-dropdown {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
  }
  /*.navbar {
    backdrop-filter: blur(10px);
  }*/
}

.dropdown-menu {
  border: none;
}

.dropdown-menu, .transparent-nav .dropdown-menu{
  background-color: white !important;
}
.dropdown-menu a{
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: var(--darkblue) !important;
}
.dropdown-menu a:active,
.dropdown-menu a:hover {
  color: var(--midblue) !important;
  background-color: transparent;
}
@media only screen and (max-width: 991px) {
  .navbar-nav li{
    max-width: 300px;
    background-color: white;
  }
  .navbar-nav li a{
    margin-left: 20px;
    color: var(--darkblue) !important;
  }
}

/* FOOTER */
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--darkblue);
  background: url("images/background-mobile.svg");
  background-size: cover;
}

footer p,
footer i {
  color: white !important;
}

footer ul {
  list-style-type: none;
}

footer ul li i {
  font-size: 2rem;
  margin-right: 1rem;
  color: var(--light) !important;
}

footer ul li i:hover {
  color: var(--light_transparent) !important;
}

footer h2 {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  color: var(--orange) !important;
}

footer a {
  color: var(--light) !important;
}

footer a:hover {
  color: white !important;
  transition: ease-in all;
  text-decoration: none;
}

#footer-border {
  background-image: url("images/footer-border.svg");
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
  width: 100%;
  height: 100px;
  background-color: white !important;
}


/* stars */
.stars-container {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
}

#stars {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

i.rounded-circle {
  width: 60px;
  height: 60px;
  color: var(--bright) !important;
}

.side-graphic {
  height: 300px;
}

.hero-title {
  color: var(--lightblue);
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}
.stars {
  background: url(http://www.script-tutorials.com/demos/360/images/stars.png)
    repeat top center;
  z-index: 10;
}
#animate-left {
  height: 100%;
  transform: translateY(4rem);
  opacity: 0;
  animation: launch 1s 1s ease-out forwards;
  -webkit-animation: launch 1s 1s ease-out forwards;
}
@media only screen and (max-width: 991px) {
  main h1 {
    font: bold 2.75rem/2.75rem "Caviar Dreams";
  }
  main h2 {
    color: var(--midblue);
    font: 2.25em/2.25rem "Caviar Dreams";
  }
  #down-indicator {
    display: none;
  }
}

.mascot {
  width: 100%;
  padding: 5%;
  max-width: 450px;
  height: auto;
}
.shadow {
  box-shadow: -1rem 0 #000;
}

.title-underline {
  height: 0.5rem;
  width: 4rem;
  margin-bottom: 1rem;
  background: var(--lightblue);
  border-radius: 0.25rem;
}
