@-webkit-keyframes bobble {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-1rem)
    }
}

@keyframes bobble {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-1rem)
    }
}

@-webkit-keyframes launch {
    0% {
        transform: translateX(-6rem);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@keyframes launch {
    0% {
        transform: translateX(-6rem);
        opacity: 0
    }

    100% {
        transform: translateX(0);
        opacity: 1
    }
}

@font-face {
    font-family: "Proxima Nova";
    src: url(fonts/ProximaNova-Regular.otf);
    font-display: swap
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/Proxima Nova Thin.otf");
    font-weight: 300;
    font-display: swap
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(fonts/CaviarDreams.ttf);
    font-display: swap
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(fonts/CaviarDreams_Bold.ttf);
    font-weight: 700;
    font-display: swap
}

@font-face {
    font-family: "Caviar Dreams";
    src: url(fonts/CaviarDreams_Bold.ttf);
    font-weight: 700;
    font-display: swap
}

:root {
    --red: #c34e4c;
    --beige: #ffeae1;
    --darkgreen: #2b5a6d;
    --turquoise: #a6e8e2;
    --orange: #fbaa82;
    --primary-font: "Proxima Nova";
    --secondary-font: "Caviar Dreams"
}

a {
    color: var(--orange)
}

#mlh-badge {
    position: fixed;
    top: 0;
    width: 90px !important;
    right: 10px;
    z-index: 1031
}

#nav-name {
    color: var(--red)
}

* {
    font-family: "Proxima Nova";
    font-weight: 400;
    color: var(--darkgreen)
}

.container {
    max-width: 1000px
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block
}

main a:hover {
    text-decoration: none;
    color: var(--red);
}

pp .jumbotron {
    height: 100%
}

.jumbotron .row {
    min-height: 100vh;
    width: auto;
    background-color: #000;
    background: url(./images/background.svg);
    background-size: cover
}

@media (max-width:400px) {
    .jumbotron .row {
        background-position: 15%
    }
}

.jumbotron p {
    color: var(--darkgreen);
    font-weight: 300;
}

.jumbotron h2 {
    color: var(--darkgreen);
    font-style: italic;
}

#down-indicator {
    color: var(--red);
    position: absolute;
    bottom: 2rem;
    animation: bobble 1s infinite alternate;
    cursor: pointer;
    font-size: 24px
}

.btn,
.btn-secondary {
    border-radius: 3rem;
    padding: .5rem 1.5rem
}

.btn-main {
    border-radius: 3rem;
    padding: .5rem 1.5rem;
    background-color: var(--beige);
    color: var(--darkgreen);
    font-weight: 700;
    font-family: var(--secondary-font);
    width: fit-content;
    text-align: center;
}

.btn-main:hover {
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--darkgreen);
    font-weight: 700
}

#schedule .btn-main:hover {
    background-color: var(--turquoise)
}

.btn {
    background-color: var(--red);
    color: var(--beige)
}

.btn-secondary {
    background-color: var(--darkgreen);
    color: var(--red)
}

#header-top {
    background-image: url(images/header-top.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    height: 35px;
    background-color: white !important
}

#header-bottom {
    background-image: url(images/header-bottom.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    height: 35px;
    background-color: white !important
}

#wave-top {
    background-image: url(images/wave_top.svg);
    background-size: cover;
    width: 100%;
    height: 150px;
    background-position: center;
    background-color: white !important
}

#wave-bottom {
    background-image: url(images/wave_bottom.svg);
    background-size: cover;
    width: 100%;
    height: 100px;
    background-position: top;
    background-color: white !important
}

.about-ph {
    color: #000
}

main {
    min-height: 100vh;
    margin-top: 3.5rem
}

main>header {
    text-align: center
}

main h1 {
    font: bold 3rem/3rem "Caviar Dreams";
}

main h2 {
    color: var(--red);
    font: 3em/3rem "Caviar Dreams";
    font-weight: 700;
}

main h3 {
    font-size: 1.75rem
}

main h4 {
    font-size: 1.25rem;
    font-style: italic;
    color: var(--red);
    font-weight: 300
}

main p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem
}

article {
    overflow: clip;
}

.raise {
    position: relative;
    z-index: 11
}

.rounded {
    border-radius: 0.75rem !important
}

.rounded-top {
    border-top-left-radius: 0.75rem !important;
    border-top-right-radius: 0.75rem !important
}

.display-2 {
    font-weight: 700;
    letter-spacing: .5rem
}

h2.lead {
    font-family: "Dancing Script", cursive
}

.overline {
    font-size: medium
}

.bg-dark {
    background-color: var(--dark2) !important
}

.bg-bright {
    background-color: var(--bright) !important
}

.bg-bright a {
    color: var(--beige) !important
}

.bg-bright p {
    color: white !important
}

.bg-light2 {
    background-color: var(--beige)
}

@media (min-width:992px) {
    #home_main {
        height: 100%;
        background-image: url(assets/images/wave-desktop-03.svg);
        background-repeat: no-repeat;
        background-size: 100% 30%;
        background-position: 10vw 10vw
    }
}

#sponsors img:hover {
    opacity: .6;
    transition: all 0.3s
}

#sponsors div {
    display: flex;
    justify-content: center;
    align-content: center
}

#sponsorlogos {
    background-color: var(--beige);
}

.pearl img {
    max-height: 200px
}

.gold img {
    max-height: 150px;
    max-width: 300px
}

.silver img,
.custom img {
    max-height: 100px
}

.shadow-sm {
    box-shadow: 0 1px 3px rgb(0, 0, 0, .3) !important
}

.collapse-wrapper {
    border: 1px solid var(--beige2)
}

.collapser {
    color: var(--bright) !important;
    font-size: 1.25rem;
    padding: 1rem 0rem;
    padding-left: 1rem;
    font-weight: normal !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    cursor: pointer
}

.collapser:after {
    content: "\2212";
    font-weight: 700
}

.collapse-wrapper .collapsed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem
}

.collapse-wrapper .collapsed:after {
    content: "\002B" !important;
    font-weight: 700
}

.collapser+div {
    padding-left: 1rem;
    border-top: 1px solid var(--beige2)
}

.table {
    /*max-width:900px;*/
    border: 1px solid var(--beige2)
}

.workshop .table .row {
    border-bottom: 1px solid var(--beige2)
}

.table .row:last-of-type {
    border-bottom: none
}

.table .th {
    background-color: var(--beige2_transparent) !important;
    color: var(--bright2)
}

.headshot {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-size: cover !important;
    text-align: center
}

.navbar {
    background-color: #fff
}

.navbar-nav a {
    color: var(--darkgreen)
}

.navbar-nav a:hover {
    color: var(--red) !important;
    transform: scale(1.01)
}

.navbar-brand span,
.navbar-brand b {
    font-family: var(--secondary-font) !important;
}

.navbar-toggler {
    border: none
}

.navbar-toggler:after {
    content: none !important
}

#homepage .transparent-nav a.nav-link:hover {
    color: var(--red) !important;
    transform: scale(1.01)
}

.nav-link {
    font-weight: 700;
    font-size: 1.25rem
}

.light-head {
    color: var(--orange)
}

@media only screen and (min-width:1200px) {
    #navbar-dropdown {
        display: flex;
        justify-content: flex-end;
        margin-right: 100px
    }

    #social-banner {
        display: flex;
        justify-content: left;
    }
}

.dropdown-menu {
    border: none
}

.dropdown-menu,
.transparent-nav .dropdown-menu {
    background-color: var(--beige) !important
}

.dropdown-menu a {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: .5px;
    color: var(--darkgreen) !important
}

.dropdown-menu a:active,
.dropdown-menu a:hover {
    color: var(--red) !important;
    background-color: transparent
}

@media only screen and (max-width:991px) {
    .navbar-nav li {
        max-width: 300px;
        background-color: #fff
    }

    .navbar-nav li a {
        margin-left: 20px;
        color: var(--darkgreen) !important
    }

    #sponsorsinfo>div>div:nth-child(1)>div:nth-child(2)>a>img {
        margin-bottom: 10px;
        max-width: 90%
    }
}

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: url(images/pond-01.svg);
    background-size: cover;
    padding-top: 10%;
    position: relative;
    z-index: 5;
}

footer p,
footer i {
    color: white !important
}

footer ul,
header ul {
    list-style-type: none
}

footer ul li i {
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--turquoise) !important
}

header ul li i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: var(--red) !important
}

footer ul li i:hover,
header ul li i:hover {
    color: var(--beige_transparent) !important
}

footer h2 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    color: var(--turquoise) !important
}

footer a {
    color: var(--beige) !important
}

footer a:hover {
    color: white !important;
    transition: ease-in all;
    text-decoration: none
}

#footer-border {
    background-image: url(images/footer-border.svg);
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    width: 100%;
    height: 100px;
    background-color: #417180 !important;
}

.stars-container {
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    height: 100%
}

#stars {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0
}

i.rounded-circle {
    width: 60px;
    height: 60px;
    color: #fff
}

.side-graphic {
    height: 20rem
}

.hero-title {
    color: var(--red)
}

.stars,
.twinkling {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block
}

.stars {
    background: url(images/stars.png) repeat top center;
    z-index: 0
}

@keyframes move-twink-back {
    from {
        background-position: 0 0
    }

    to {
        background-position: -10000px 5000px
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0
    }

    to {
        background-position: -10000px 5000px
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0
    }

    to {
        background-position: -10000px 5000px
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0
    }

    to {
        background-position: -10000px 5000px
    }
}

.twinkling {
    background: transparent url(images/twinkling.png) repeat top center;
    z-index: 0;
    -moz-animation: move-twink-back 450s linear infinite;
    -ms-animation: move-twink-back 450s linear infinite;
    -o-animation: move-twink-back 450s linear infinite;
    -webkit-animation: move-twink-back 450s linear infinite;
    animation: move-twink-back 450s linear infinite
}

#animate-right {
    height: 100%;
    transform: translateY(4rem);
    opacity: 0;
    animation: launch 1s 1s ease-out forwards;
    -webkit-animation: launch 1s 1s ease-out forwards;
}

.mascot {
    width: 150%;
    padding: 5%;
    max-width: 500px;
    height: auto;
    margin: 5%;
}

@media only screen and (max-width:991px) {
    main h1 {
        font: bold 2.75rem/2.75rem "Caviar Dreams"
    }

    main h2 {
        color: var(--red);
        font: 2.25em/2.25rem "Caviar Dreams";
        font-weight: 700
    }

    .admin {
        margin-top: 1rem
    }

    .mascot {
        padding-top: 0;
        width: 85%
    }

    #down-indicator {
        display: none
    }
}

.shadow {
    box-shadow: -1rem 0 #000
}

.title-underline {
    height: .5rem;
    width: 4rem;
    margin-bottom: 1rem;
    background: var(--orange);
    border-radius: .25rem
}

.resource-link {
    font-size: 1.2rem
}

.resources-card2 ul li a:hover {
    color: var(--red) !important
}

#decoration1-desktop {
    width: 100vw;
    height: 15vw;
    max-height: 300px;
    background-image: url(images/wave.svg);
    background-repeat: no-repeat;
    background-size: 120% 100%;
    background-position: center
}

#decoration2-desktop {
    width: 100vw;
    height: 15vw;
    max-height: 300px;
    background-image: url(images/header-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: 120% 100%;
    background-position: center
}

#decoration1 {
    height: 36vw;
    background-image: url(assets/images/subpageHeader.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

#decoration2 {
    width: 100vw;
    height: 20vw;
    background-image: url(assets/images/subpageHeader2.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%
}

@media all and (min-width:992px) {
    #decoration1 {
        height: 24vw;
        background-image: url(images/subpageHeader.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        padding-top: 6rem
    }

    #decoration2 {
        height: 10vw;
        max-height: 300px;
        min-height: 100px;
        background-image: url(images/headerwave2.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
}

@media all and (max-width:991px) {
    #decoration1 {
        height: 40vw;
        background-image: url(images/subpageHeader.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 2rem
    }

    #decoration2 {
        height: 20vw;
        max-height: 300px;
        min-height: 200px;
        background-image: url(images/headerwave2.svg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 2rem
    }
}

#decoration1-desktop header,
#decoration1 header,
#decoration2-desktop header,
#decoration2 header {
    display: flex;
    align-items: center;
    justify-content: center
}

#decoration1-desktop header h1,
#decoration1 header h1,
#decoration2-desktop header h1,
#decoration2 header h1 {
    color: var(--beige);
}

@media screen and (max-width:500px) {
    #decoration1 header h1 {
        font-size: 2.2rem
    }

    #faq h2,
    #aboutus h2,
    #resourcepage #resources h2 {
        font-size: 2rem
    }
}

.resources-grid {
    max-width: 62.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-gap: 1rem;
    justify-items: stretch
}

.resources-grid2 {
    max-width: 62.5rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    grid-gap: 1.5rem;
    justify-items: start;
    grid-auto-rows: 1fr
}

.resources-card {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: .8rem;
    max-height: 20rem;
    padding: 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    transition: all 0.2s ease-in-out;
    height: auto;
    grid-auto-rows: 1fr
}

.resources-card2 {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: .8rem;
    padding: 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    transition: all 0.2s ease-in-out;
    height: 100%;
    width: 100%
}

.resources-card:hover {
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    cursor: pointer
}

.resources-img {
    height: 3rem;
    width: auto;
    margin-bottom: 1rem
}

@media screen and (max-width:992px) {
    .resources-grid {
        grid-template-columns: 1fr 1fr
    }

    #resources h2 {
        text-align: center
    }

    .resources-grid2 {
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center
    }

    .resources-card2 {
        height: auto
    }
}

@media screen and (max-width:786px) {
    .resources-grid {
        grid-template-columns: 1fr;
        padding: 0 1rem
    }
}

/* #workshoppage p,
#workshoppage {
    font-size: 1.15rem;
} */

.jumbotron p {
    font-size: 1.15rem
}

.jumbotron p a {
    font-weight: bold;
    font-size: 1.15rem
}

@media (max-width: 500px) {
    .jumbotron h2 {
        font-size: 1.75rem;
    }

    .hero-title {
        font-size: 3rem;
    }

    .jumbotron p.font-weight-bold.d-lg-none {
        margin-bottom: 0.5rem;
    }

    .mascot {
        width: 80%;
    }

    .jumbotron p a,
    .jumbotron p {
        font-size: 1.1rem;
    }
}