<div id="footer-border">

</div>
<div class="row m-0 px-lg-5 py-5 container">
    <div class="col-12 col-md-4 pt-3">
        <h2>Administration</h2>
        <p>
            Pearl Hacks abides by the <a href="https://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="blank">MLH Code of Conduct</a>.
        </p>
        <p>For questions or feedback, contact us at <a href="mailto:questions@pearlhacks.com" target="blank">questions@pearlhacks.com</a></p>

        <p>Made with <i class="far fa-heart"></i> by <a href="https://github.com/pearlhacks" target="blank">Pearl Hacks</a></p>
    </div>
    <div class="col-12 col-md-4 pt-3">
        <h2>Keep up with us</h2>
        <ul class="d-flex p-0">
            <li>
                <a href="https://www.facebook.com/pearlhackathon/" target="blank">
                    <i class="fab fa-facebook-f"></i></a>
            </li>
            <li>
                <a href="https://twitter.com/PearlHacks" target="blank">
                    <i class="fab fa-twitter"></i></a>
            </li>
            <li>
                <a href="mailto:questions@pearlhacks.com" target="blank">
                    <i class="far fa-envelope"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/pearlhacks/" target="blank">
                    <i class="fab fa-instagram"></i></a>
            </li>
            <li>
                <a href="https://github.com/pearlhacks" target="blank">
                    <i class="fab fa-github"></i></a>
            </li>
        </ul>

    </div>
    <div class="col-12 col-md-4 pt-3">
        <h2>
            Inclusivity Statement
        </h2>
        <p>
            Pearl Hacks is an event designed to uplift and center women and non-binary students. We expect all of our
            mentors, volunteers, participants, directors, sponsors, judges, and visitors to be respectful of our
            participants' gender identities and expressions.
        </p>
    </div>
</div>